{% extends 'meetups/base.html' %}

<!-- this is the Django templating language -->
{% load static %}

{% block title_block %}
	All Meetups
{% endblock %}

{% block site_css %}
	<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

{% block main_header %}
	We got great meetups coming up!
{% endblock %}

{% block header_content %}
	<p>Find the one that best suits you!</p>
{% endblock %}

{% block main_block %}
	<section>
		<h2>Upcoming Meetups:</h2>
		<ol>
			{% for item in meetups %}
				<!-- NOTE: This include keyword is used to load content from an existing HTML file.
				This is typically used when we have a block of HTML code that we expect to be reused
				across multiple HTML files. We can create this content in as separate HTML file, and
				include it everywhere that we want instead of duplicating code in all those files. -->

				<!-- NOTE: You can make this dynamic by specifying the variables used in that included
				HTML file here in the include statement -->
				{% include 'meetups/include-meetup-item.html' with title=item.title location=item.location %}
			{% endfor %}
		</ol>
	</section>
{% endblock %}